<!-- landing_page.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Our Website</title>
    <!-- Add your CSS and JavaScript links here, if needed -->
</head>
<body>
    <header>
        <h1>Welcome to Our Website</h1>
    </header>
    <main>
        <section>
            <h2>About Us</h2>
            <p>Welcome to our website. We are here to provide you with useful information and services.</p>
        </section>

        <!-- Display the list of already uploaded files -->
        <section>
            <h2>Uploaded Files</h2>
            <ul>
                {% for file in uploaded_files %}
                    <li><a>{{ file.file.name }}</a></li>
                {% empty %}
                    <li>No files have been uploaded yet.</li>
                {% endfor %}
            </ul>
        </section>
                <!-- Add a button to navigate to the upload CSV page -->
        <section>
            <a href="{% url 'upload_csv' %}" class="btn btn-primary">Upload CSV</a>
        </section>
        <!-- End of button to upload CSV -->
        <!-- End of displaying uploaded files -->
        <!-- Add a scroll-down menu for file selection -->
        <section>
            <h2>Select File to Print</h2>
            <form method="post" enctype="multipart/form-data" action="{% url 'print_data' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <select id="fileSelect" name="file_id"> <!-- Add name="file_id" to the select element -->
                    {% for file in uploaded_files %}
                        <option value="{{ file.id }}">{{ file.file.name }}</option>
                    {% endfor %}
                </select>
                <button id="printButton" type="submit">Print Selected File</button>
            </form>

        </section>
        <!-- End of file selection -->


        <!-- End of displaying CSV data -->
        <!-- Add more sections and content as needed -->
    </main>
    <footer>
        <p>&copy; 2023 efflow AG</p>
    </footer>
</body>
</html>
